* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(landscape.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#time {
    font-size: 8vw;
    color: aqua;
    font-family: 'Codystar', cursive;
    font-weight: 900;
}

#clock {
    display: flex;
    flex-direction: row;
    font-size: 12vw;
    color: rgb(0, 0, 0);
    font-family: 'Graduate', cursive;
    text-shadow: 1px 1px 15px #ffffff;
}

#ap{
      font-size: 5vw;
      align-self: center;
}

#date {
    color: cyan;
    font-family: 'Codystar', cursive;
    font-weight: 600;
    font-size: 3vw;
}

.blink {
    opacity: 0;
}

.btn {
    width: 150px;
    height: 30px;
    font-size: 16px;
    background-color: transparent;
    border: 1px dotted white;
    border-radius: 10px;
    text-shadow: 1px 1px 15px #ffffff;
    margin-bottom: 20px;
}